body {
    background-color: #202020;
    color: whitesmoke;
}

.game-container {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    padding: 20px;
}

.game-screen {
    position: relative;
    width: 100%;
    height: 400px;
    border: 2px solid white;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
}

.falling-word {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    background: rgba(255, 255, 255, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.1s linear;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 50%;
}

.game-over {
    text-align: center;
}

.game-over button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
}


.glitch {
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #fff;
    letter-spacing: 5px;

    &:before,
    &:after {
        display: block;
        content: attr(data-glitch);
        text-transform: uppercase;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: .8;
    }

    &:after {
        color: #f0f;
        z-index: -2;
    }

    &:before {
        color: #0ff;
        z-index: -1;
    }

    &:hover {
        &:before {
            animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both 5
        }

        &:after {
            animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both 5
        }
    }
}
.sh1{
    animation: shade 5s infinite;
}

.sh2{
    animation: shade 3s infinite;
}

.sh3{
    animation: shade 4s infinite;
}

@media screen and (max-width: 770px) {
    .nophone {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    .glitch {
        font-size: 1em;
    }

    .smban {
        display: none;
    }
}


@keyframes glitch {
    0% {
        transform: translate(0)
    }

    20% {
        transform: translate(-5px, 5px)
    }

    40% {
        transform: translate(-5px, -5px)
    }

    60% {
        transform: translate(5px, 5px)
    }

    80% {
        transform: translate(5px, -5px)
    }

    to {
        transform: translate(0)
    }
}

@keyframes shade{
    0% {
        color: pink;
    }

    20% {
        color: whitesmoke;
    }

    40% {
        color: blue;
    }

    60% {
        color: pink;
    }

    80% {
        color:azure;
    }

    to {
        color:whitesmoke;
    }
}