.tzfe-container {
    text-align: center;
    margin-top: 20px;
}

.board {
    display: inline-block;
    background-color: #bbada0;
    padding: 10px;
    border-radius: 10px;
}

.row {
    display: flex;
}

.tile {
    width: 80px;
    height: 80px;
    background-color: #cdc1b4;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #776e65;
    border-radius: 5px;
}

.tile-2 {
    background-color: #E6E6FA;
}

.tile-4 {
    background-color: #D8BFD8;
}

.tile-8 {
    background-color: #DDA0DD;
}

.tile-16 {
    background-color: #EE82EE;
}

.tile-32 {
    background-color: #DA70D6;
}

.tile-64 {
    background-color: #BA55D3;
}

.tile-128 {
    background-color: #9370DB;
}

.tile-256 {
    background-color: #8A2BE2;
    color: whitesmoke;
}

.tile-512 {
    background-color: #9400D3;
    color: white;
}

.tile-1024 {
    background-color: #9932CC;
    color: whitesmoke;
}

.tile-2048 {
    background-color: #7b0b0b;
    color: rgb(188, 115, 26);
}

.tile-4096 {
    background-color: #800080;
}

/* Add styles for higher tile values */
