/* @import "tailwindcss"; */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.hp-r-ad {
  background-color: rgb(26, 214, 214);
  max-width: 25%;
  max-height: 25%;
  
}

.hp-flex {
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bar{
  background-color: rgb(7, 7, 7);
  color: aliceblue;
  width: 99vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
.bar>div>a{
  color: lavender;
}

footer{
  position: fixed;
  bottom: 0;
}



@media (max-width: 768px) {
  .hp-flex {
    display: flex;
    flex-direction: column;
  }

}
