body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.w-300 {
  max-width: 300px;
}

.game-name {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.game-tile-con {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap; /*imp*/
  list-style: none;
  padding: 0;
}

.game-tile {
  height: 7rem;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: end;
}


.t2048 {
  background-image: url('../public/media/2048.png');
  background-size: cover;
  background-position: center;
}
.tsnake {
  background-image: url('../public/media/snake.png');
  background-size: cover;
  background-position: center;
}
.thangman {
  background-image: url('../public/media/Hangman.png');
  background-size: cover;
  background-position: center;
}
.tgc {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgXyY3YghqA-XEQJ1bd9ZyObbVRXASuGjEmw&s');
  background-size: cover;
  background-position: center;
}
.tbounce {
  background-image: url('../public/media/bounce.png');
  background-size: cover;
  background-position: center;
}



/* https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgXyY3YghqA-XEQJ1bd9ZyObbVRXASuGjEmw&s */


@media (max-width: 768px) {
  .game-tile {
    height: 5rem;
    width: 5rem;
  }

  .gtitle {
    font-size: 12px;
    padding: 2px;
  }

  .game-tile-con {
    gap: 0.5rem;
  }
}

@media (max-width: 480px) {
  .game-tile-con {
    gap: 0.75rem;
    justify-content: center;
  }

  .game-tile {
    height: 4rem;
    width: 4rem;
  }

  .gtitle {
    font-size: 10px;
    padding: 0.2rem;
    text-align: center;
  }
}


.zoom {
  transition: transform 0.3s ease;
}

.zoom:hover {
  transform: scale(1.25);
}